.navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .navbar .btn {
    display: flex;
    align-items: center;
  }
  
  .navbar .badge {
    margin-left: 5px;
  }
  